*{
    padding:0px;
    margin:0px;
    
}
#Logo{
    width: 5%;

}
.lines {
    color:white!important;
    font-size:150%;
    
}
#brand-name{   
    font-size: 36px;
    color: #E5802A;
    cursor: default;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
}
.header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    color:#343A40;
}
.preview_course{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    color:#343A40;
    text-align: center;
}
.create{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    color:#343A40;
}
.upload{
    font-size: 300%;
    margin:2% 49%;
    color:#E5802A;
}
.Description{
    color:#fff!important;
    background:#E5802A!important;
    margin-top:20px;
    border-radius: 5px!important;
    
}
.Resources{
    
    color:#fff!important;
    background:#E5802A!important;
    margin-top:20px;
    border-radius: 5px!important;
    
}
.Save{
    
    color:#fff!important;
    background:#E5802A!important;
    margin-top:20px;
    border-radius: 5px!important;
    
}
.Photography{
    color:#fff!important;
    background:#E5802A!important;
    border-radius: 5px!important;
    width: 100%;
}
.Free_course{
    width: 100%;
    color:#E5802A!important;
    background:#343A40!important;
    border-radius: 5px!important;
}
.Goback{
    color:#fff!important;
    background:#E5802A!important;
    border-radius: 5px!important;
}
.checked {
    color: #E5802A;
  }

.form{
    margin-top:4%;

}
.form form{
    padding-left:1%;
}
.ok_button input[type=submit]{
   width: 60%!important;
   margin-left:75%;
   background-color:#E5802A ;
   color:#fff;
   font-weight: bold;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important; 
}
.goback{
    color:#fff!important;
    background:#E5802A!important;
    border-radius: 5px!important;
    margin:5%!important;
}
.my_navbar a{
    color:#343A40!important;
    background-color: transparent;
    margin:0 10px ;
}

.my_navbar a:hover{
    color:#fff!important;
    background-color: #E5802A!important;
    border-radius:5px;
}

.homework{
    margin-top: 1%;
}

.active a {
    color: #fff!important;
    background-color:#E5802A!important;
    border-radius:5px;
}
.my_nav a{
    color:#343A40!important;
    background-color: transparent;
    margin:0 10px ;
} 

.my_nav a:hover{
    color:#E5802A!important;
    background-color: transparent;
    margin:0 10px ;
} 



.activeone a{
    color:#E5802A!important;
}

.homework h4{
    color:#343A40!important;
}
.Submit_form{
    margin-top:2%;
    border: 2px solid #E5802A;
    padding: 10px;
    border-radius: 25px;
}
.date p{
    margin-left:20px;
    margin-top:6px;
    color:#343A40;
}

.Grade_form{
    margin-top:2%;
    border: 2px solid #E5802A;
    padding: 10px;
    border-radius: 25px;
}

.side_nav a{
    color:#343A40;

}
.side_nav a:hover{
    color:#E5802A;
}
.Course-description{
    margin-top:1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important; 
}
.cour_description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
}
.cour_description h5{
    color:#343A40;
    font-weight: bold;
}
.cour_description h6{
    color:#E5802A;
}

.cour_description p{
    color:#343A40;
}
.Buy_course{
    margin-top:1%;
}
.Requirment{
    margin-top:1%;
}
.Requirment h6  {
    color:#E5802A;
}


.Requirment p  {
    color:#343A40;
}
.Course-curriculam{
    margin-top:1%;
}


.Course-curriculam h6{
    color:#E5802A;
}


.Course-curriculam p{
    color:#343A40;
}
.photoshop{
    width:100%;
}
h1{
    color: #343A40;
}
hr{
    border:1px solid #E5802A!important;
}
.View-Similar-Courses{
    margin-top:10%;
    width: 100%;
    color:#fff!important;
    background:#E5802A!important;
    border-radius: 5px!important;
}
.Start_Course{
    margin-top:10%;
    width: 100%;
    color:#E5802A!important;
    background:#343A40 !important;
    border-radius: 5px!important;
}

.go-back{
    width:20%!important;
}


.go-backtwo{
    width:80%!important;
}










@media only screen and (max-width: 1000px){
    .Logo{
        width: 5%!important;
    }
    #brand-name{   
        font-size: 36px!important;
        color: #E5802A;
        cursor: default;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    }
    .header{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
        color:#343A40!important;
    }
    .search{
        width:100%!important;
    }
    .search .input-group{
        width:100%!important;
    }
    .search .input-group qInput{
        width:100%!important;
    }
    .Description{
        color:#fff!important;
        background:#E5802A!important;
        margin-top:20px;
        border-radius: 5px!important;
        
    }
    .go-back{
        width:20%!important;
    }

    
    .go-backtwo{
        width:80%!important;
    }

    .Free_course{
        margin-top: 2%!important;
    }

}







@media only screen and (max-width:1100px) {
    .Logo{
        width: 5%!important;
    }
    #brand-name{   
        font-size: 36px!important;
        color: #E5802A;
        cursor: default;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    }
    .header{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
        color:#343A40!important;
    }
    .search{
        width:100%!important;
    }
    .search .input-group{
        width:100%!important;
    }
    .search .input-group qInput{
        width:100%!important;
    }
    .Description{
        color:#fff!important;
        background:#E5802A!important;
        margin-top:20px;
        border-radius: 5px!important;
        
    }
    .go-back{
        width:20%!important;
    }

    
    .go-backtwo{
        width:80%!important;
    }

    .Free_course{
        margin-top: 2%!important;
    }   
}